* {
  margin-top: 0%;
}
.admin-container {
  display: flex;
  flex-direction: column;
}
.panels-container {
  margin-top: 10%;
  margin-bottom: 10%;

  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.ligth-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20vh;
}
.ligth-control-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.coardinates-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20vh;
}
.coardinates-control-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer {
  align-content: flex-end;
}
